<div class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <form>
          <div class="form-group">
            <label for="name">Username</label>
            <input [(ngModel)]="user.Username" type="email" name="username" class="form-control" id="username"
              aria-describedby="nameHelp" placeholder="Enter your email">
            <small id="nameHelp" class="form-text text-muted">Enter your email</small>

            <label for="password">Password</label>
            <input [(ngModel)]="user.Password" type="password" name="password" class="form-control" id="password"
              aria-describedby="passwordHelp" placeholder="Enter your password">
            <small id="passwordHelp" class="form-text text-muted">Enter your password</small>

            <label for="entityType">Entity Type</label>
            <select [(ngModel)]="user.EntityType" name="entityType" class="form-control validate['required']"
              id="entityType" aria-describedby="typeHelp">
              <option value="" selected disabled hidden>Select entity type</option>
              <option value="foodSupplier">Food Supplier</option>
              <option value="foodConsumer">Food consumer</option>
            </select>
            <small id="typeHelp" class="form-text text-muted">Select entity type</small>

            <div id="foodSupplier" style="display: none;" class="style-sub-1" name="stylesub1">
              <label for="foodSupplier">Food Supplier</label>
              <select [(ngModel)]="user.foodEntityType" name="foodEntityType" class="form-control"
                aria-describedby="supplierTypeHelp">
                <option value="RationShops">Ration Shops</option>
                <option value="Charityhouses">Charity houses</option>
                <option value="PrivateDonor">Private Donor</option>
              </select>
              <small id="supplierTypeHelp" class="form-text text-muted">Select food supplier</small>
            </div>

            <div id="foodConsumer" style="display: none;" class="style-sub-1" name="stylesub1">
              <label for="foodConsumer">Food Consumer</label>
              <select [(ngModel)]="user.foodEntityType" name="foodEntityType" class="form-control"
                aria-describedby="consumerTypeHelp">
                <option value="GovernmentHospital">Government Hospital</option>
                <option value="QuarantineCenter">Quarantine Center</option>
                <option value="NGO">NGO</option>
                <option value="MuncipalCorporation">Muncipal Corporation</option>
              </select>
              <small id="consumerTypeHelp" class="form-text text-muted">Select food consumer</small>
            </div>

            <label for="wardNumber">Ward Number</label>
            <input [(ngModel)]="user.wardnumber" type="number" name="wardnumber" class="form-control" id="wardnumber"
              aria-describedby="wardNumberHelp" placeholder="Enter your ward number">
            <small id="wardNumberHelp" class="form-text text-muted">Enter your ward number</small>

            <label for="address">Address</label>
            <textarea [(ngModel)]="user.address" type="textarea" name="address" class="form-control" id="address"
              aria-describedby="addressHelp" placeholder="Enter your address"></textarea>
            <small id="addressHelp" class="form-text text-muted">Enter your address</small>

            <label for="pincode">Pincode</label>
            <input [(ngModel)]="user.pincode" type="text" name="pincode" class="form-control" id="pincode"
              aria-describedby="pincodeHelp" placeholder="Enter your pincode" />
            <small id="pincodeHelp" class="form-text text-muted">Enter your pincode</small>
          </div>
        </form>
        <button class="btn btn-primary" (click)="createUser()">Submit</button>
      </div>
    </div>
  </div>
</div>